body {
  font-familiy: Helvetica;
}
h1 {
  font-size:100px;
  font-weight: 400;
  text-align: center;
  color:khaki;
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg");
  }
h2,h3,h4 {
  font-size:100px;
  font-size: 32px;
  font-weight: 400;
  color:white;
  }
  h2 {
    background: mediumspringgreen;
  }
  h3 {
    background: lightcoral;
  }
  h4 {
    background: skyblue;
  }
.subheader {
  color: black;
  font-weight: 800;
  font-size: 20px;
}
.price {
  color: blue;
  font-weight: 800;
}
